# Binaries
**/bin/
**/bin_int/
**/bin-int/
!Vender/premake/bin/
Intermediate/


# Misc files
*.log
*.json

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

#Directories
Dazel/Vender/VulkanSDK
Dazel/Vender/shaderc
Dazel/Vender/SPIRV_Cross
DazelEditor/asset/cache
scripts/__pycache__
