[submodule "Dazel/Vender/spdlog"]
	path = Dazel/Vender/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Dazel/Vender/glm"]
	path = Dazel/Vender/glm
	url = https://github.com/dzw1212/glm.git
[submodule "Dazel/Vender/GLFW"]
	path = Dazel/Vender/GLFW
	url = https://github.com/dzw1212/glfw.git
[submodule "Dazel/Vender/ImGui"]
	path = Dazel/Vender/ImGui
	url = https://github.com/dzw1212/imgui.git
[submodule "Dazel/Vender/yaml-cpp"]
	path = Dazel/Vender/yaml-cpp
	url = https://github.com/dzw1212/yaml-cpp.git
[submodule "Dazel/Vender/ImGuizmo"]
	path = Dazel/Vender/ImGuizmo
	url = https://github.com/dzw1212/ImGuizmo.git
[submodule "Dazel/Vender/Box2D"]
	path = Dazel/Vender/Box2D
	url = https://github.com/dzw1212/box2d.git
[submodule "Dazel/Vender/filewatch"]
	path = Dazel/Vender/filewatch
	url = https://github.com/dzw1212/filewatch.git
